* {
    box-sizing: border-box;
}

body, h1, h2, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 20px;
    height: 75px;
}

header, .newswire, .featured-games, footer {
    width: 100%;
}

.header {
    position: relative;
    color: grey;
    height: 500px; 
}

.featured-game {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 500px;
}


.featured-game .image-placeholder {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #333;
    font-size: 20px;
    border: 2px dashed #999;
}

.trailer-button button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #111;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.image-placeholder {
    background-color: #ccc;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border: 2px dashed #999;
    margin: 10px;
}

.newswire, .featured-games {
    padding: 20px;
    background-color: grey;
    min-height: 300px;
}

.newswire h2, .featured-games h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.news-items, .game-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.logo img {
    height: 50px;
}

nav ul {
    display: flex;
}

nav ul li {
    padding: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

.user-actions {
    display: flex;
    align-items: center;
}

.user-actions button {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
}

footer {
    background-color: black;
    color: white;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-links a, .footer-info a {
    text-decoration: none;
    color: white;
    padding: 0 10px;
}

.footer-info {
    display: flex;
    align-items: center;
}
